.container {
    display: grid;
    grid-template: 1fr / 1fr;
    padding: 0;
    margin: 0;
    height: 600px;
    width: 600px;
    border-width: 5px;
    border-color: black;
    border-style: solid;
    transform-origin:top left;
}

.board {
    grid-area: 1 / 1;
    margin: 0px;
    display: grid;
    grid-template: repeat(10, 10fr) / repeat(10, 10fr);
    align-items: center;
}

.cell {

    font-family: sans-serif;
    font-size: 30px;
    margin: 0px;
    padding: 0px;
    text-align: center;
    line-height: 60px;
    z-index: 1;
    -webkit-user-select: none;
    /* Safari */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* IE10+/Edge */
    user-select: none;
    /* Standard */
}

.drawArea {
    grid-area: 1 / 1;
    z-index: -1;
}

.WSLine {
    stroke: lightgray;
    stroke-width: 6%;
}

.WSLine[data-state="off"] {
    visibility: hidden;
}

.WSLine[data-state="on"] {
    visibility: visible;
}

.WSLine[data-state="found"] {
    stroke: rgb(22,42,83);
    stroke-opacity:50%;
}

#A1 {
    grid-area: 1 / 1;
}

#B1 {
    grid-area: 1 / 2;
}

#C1 {
    grid-area: 1 / 3;
}

#D1 {
    grid-area: 1 / 4;
}

#E1 {
    grid-area: 1 / 5;
}

#F1 {
    grid-area: 1 / 6;
}

#G1 {
    grid-area: 1 / 7;
}

#H1 {
    grid-area: 1 / 8;
}

#I1 {
    grid-area: 1 / 9;
}

#J1 {
    grid-area: 1 / 10;
}

#A2 {
    grid-area: 2 / 1;
}

#B2 {
    grid-area: 2 / 2;
}

#C2 {
    grid-area: 2 / 3;
}

#D2 {
    grid-area: 2 / 4;
}

#E2 {
    grid-area: 2 / 5;
}

#F2 {
    grid-area: 2 / 6;
}

#G2 {
    grid-area: 2 / 7;
}

#H2 {
    grid-area: 2 / 8;
}

#I2 {
    grid-area: 2 / 9;
}

#J2 {
    grid-area: 2 / 10;
}

#A3 {
    grid-area: 3 / 1;
}

#B3 {
    grid-area: 3 / 2;
}

#C3 {
    grid-area: 3 / 3;
}

#D3 {
    grid-area: 3 / 4;
}

#E3 {
    grid-area: 3 / 5;
}

#F3 {
    grid-area: 3 / 6;
}

#G3 {
    grid-area: 3 / 7;
}

#H3 {
    grid-area: 3 / 8;
}

#I3 {
    grid-area: 3 / 9;
}

#J3 {
    grid-area: 3 / 10;
}

#A4 {
    grid-area: 4 / 1;
}

#B4 {
    grid-area: 4 / 2;
}

#C4 {
    grid-area: 4 / 3;
}

#D4 {
    grid-area: 4 / 4;
}

#E4 {
    grid-area: 4 / 5;
}

#F4 {
    grid-area: 4 / 6;
}

#G4 {
    grid-area: 4 / 7;
}

#H4 {
    grid-area: 4 / 8;
}

#I4 {
    grid-area: 4 / 9;
}

#J4 {
    grid-area: 4 / 10;
}

#A5 {
    grid-area: 5 / 1;
}

#B5 {
    grid-area: 5 / 2;
}

#C5 {
    grid-area: 5 / 3;
}

#D5 {
    grid-area: 5 / 4;
}

#E5 {
    grid-area: 5 / 5;
}

#F5 {
    grid-area: 5 / 6;
}

#G5 {
    grid-area: 5 / 7;
}

#H5 {
    grid-area: 5 / 8;
}

#I5 {
    grid-area: 5 / 9;
}

#J5 {
    grid-area: 5 / 10;
}

#A6 {
    grid-area: 6 / 1;
}

#B6 {
    grid-area: 6 / 2;
}

#C6 {
    grid-area: 6 / 3;
}

#D6 {
    grid-area: 6 / 4;
}

#E6 {
    grid-area: 6 / 5;
}

#F6 {
    grid-area: 6 / 6;
}

#G6 {
    grid-area: 6 / 7;
}

#H6 {
    grid-area: 6 / 8;
}

#I6 {
    grid-area: 6 / 9;
}

#J6 {
    grid-area: 6 / 10;
}

#A7 {
    grid-area: 7 / 1;
}

#B7 {
    grid-area: 7 / 2;
}

#C7 {
    grid-area: 7 / 3;
}

#D7 {
    grid-area: 7 / 4;
}

#E7 {
    grid-area: 7 / 5;
}

#F7 {
    grid-area: 7 / 6;
}

#G7 {
    grid-area: 7 / 7;
}

#H7 {
    grid-area: 7 / 8;
}

#I7 {
    grid-area: 7 / 9;
}

#J7 {
    grid-area: 7 / 10;
}

#A8 {
    grid-area: 8 / 1;
}

#B8 {
    grid-area: 8 / 2;
}

#C8 {
    grid-area: 8 / 3;
}

#D8 {
    grid-area: 8 / 4;
}

#E8 {
    grid-area: 8 / 5;
}

#F8 {
    grid-area: 8 / 6;
}

#G8 {
    grid-area: 8 / 7;
}

#H8 {
    grid-area: 8 / 8;
}

#I8 {
    grid-area: 8 / 9;
}

#J8 {
    grid-area: 8 / 10;
}

#A9 {
    grid-area: 9 / 1;
}

#B9 {
    grid-area: 9 / 2;
}

#C9 {
    grid-area: 9 / 3;
}

#D9 {
    grid-area: 9 / 4;
}

#E9 {
    grid-area: 9 / 5;
}

#F9 {
    grid-area: 9 / 6;
}

#G9 {
    grid-area: 9 / 7;
}

#H9 {
    grid-area: 9 / 8;
}

#I9 {
    grid-area: 9 / 9;
}

#J9 {
    grid-area: 9 / 10;
}

#A10 {
    grid-area: 10 / 1;
}

#B10 {
    grid-area: 10 / 2;
}

#C10 {
    grid-area: 10 / 3;
}

#D10 {
    grid-area: 10 / 4;
}

#E10 {
    grid-area: 10 / 5;
}

#F10 {
    grid-area: 10 / 6;
}

#G10 {
    grid-area: 10 / 7;
}

#H10 {
    grid-area: 10 / 8;
}

#I10 {
    grid-area: 10 / 9;
}

#J10 {
    grid-area: 10 / 10;
}